/***********************************************
 ***********************************************
 *** 	Style sheet for the "map" page  	 ***
 ***********************************************
 **********************************************/

/* Map container */

#map {
  height: 75vh;
}


/* Marker icons */

.glyphicon.glyphicon-flash {
  font-size: 20px;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.glyphicon.glyphicon-home {
  font-size: 21px;
  color: rgb(69,69,69);
}


/* Legend */

.legend {
  padding: 10px 10px;
  font-size: 14px;
  background: #ffffff;
  border-radius: 5px;
}

.legend i {
  width: 20px;
  height: 4px;
  float: left;
  margin: 6px 8px 0 0;
}

.legend p {
  margin-bottom: 0;
}

.legend-icon {
  font-size: 14px !important;
  margin-right: 15px;
}


/* Popups */

.leaflet-popup {
  text-align: center;
  margin-bottom: 0px;
  border: none;
}

.leaflet-popup-content-wrapper {
  padding: 0px;
  text-align: left;
  border: none;
  visibility: hidden;
}

.leaflet-popup-content {
  margin: 0;
  padding: 0;
  border: none;
  visibility: visible;
}

.leaflet-popup-tip-container {
  position: relative;
  top: -21px;
}

.leaflet-popup-tip {
  background-color: #696969;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #ffffff;
}


/* Option buttons and selectors */

.leaflet-options {
  visibility: collapse;
}

.leaflet-options a {
  font-size: 16px;
  outline: none;
  border-bottom: 0px;
  border-radius: 4px;
  visibility: visible;
}

.leaflet-options ul {
  background-color: #696969;
  color: #ffffff;
  min-width: 0px;
  width: auto;
  position: relative;
  visibility: visible;
  max-height: 100px;
  overflow: scroll;
  font-size: 16px;
}

.leaflet-options li {
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.1s;
}

.leaflet-options li:hover {
  background-color: rgb(69,69,69);
}