/***********************************************
 ***********************************************
 ***    Style sheet used by the plot page    ***
 ***********************************************
 **********************************************/


/* Plot container */
@media only screen and (max-width: 767.8px) {
  #plot {
  	height: 40vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  #plot {
    height: 70vh;
  }
}

/* Options panel */
.panel-options {
	margin: 0px;
	padding: 0px;
	max-width: 600px;
}

.panel-title span {
  font-weight: normal;
  font-size: 10px;
  margin-left: 5px;
}

@media only screen and (max-width: 1199.98px) {
	.panel-options {
		margin: auto;
		margin-top: 0;
		margin-bottom: 0;
	}

	.panel-body .form-group {
		display: flex;
	}

	.inline-label {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		width: 150px;
	}

	.inline-label-check {
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		width: 150px;
	}

	.panel-body select {
		max-width: calc(100% - 160px);
	}

	.panel-body input {
		max-width: calc(50% - 80px);
	}

  .panel-body .time {
  	max-width: calc(40% - 80px);
  }

  .panel-body .dateFrom {
  	max-width: calc(58% - 80px);
  }

   .panel-body .dateTo {
  	max-width: calc(58% - 80px);
  }

	.panel-body .small-select {
		max-width: calc(50% - 80px);
	}
}


@media only screen and (min-width: 1200px) {
  .panel-options {
    width: 70%;
    margin-top: 6vh;
  }

  .inline-label {
  	width: 100%;
  }

  .inline-label-check {
  	width: auto;
  }

  .panel-body input {
  	max-width: 49%;
  	display: inline;
  }

  .panel-body .time {
  	max-width: 40%;
  }

  .panel-body .dateFrom {
  	max-width: 58%;
  }

   .panel-body .dateTo {
  	max-width: 58%;
  }

  .panel-body .dateCompare {
    max-width: 58%;
  }

  .panel-body .small-select {
  	max-width: 49%;
  	display: inline;
  }
}