{% extends "base.html" %}


{# Content of the tab #}
{% block content %}
  <div class="container">
    <div class="page-header">
      <div class='btn-toolbar pull-right'>
        <button class="btn btn-danger" onclick="location.href='/logout'">Logout</button>
      </div>
      <h3>Account management</h3>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-default">
          <div class="panel-heading"><b>Modify password</b></div>
          <div class="panel-body text-center">
            <iframe src="/modifyPassword" frameBorder="0" scrolling="no" height="250px"></iframe><br>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
      {% if is_authenticated()['can_register_manage'] %}
        <div class="panel panel-default">
          <div class="panel-heading"><b>Register new user</b></div>
          <div class="panel-body text-center">
            <iframe src='/register' frameBorder="0" scrolling="no" height="425px"> </iframe>
          </div>
        </div>
        
      </div>
      <div class="col-lg-4">

        <div class="panel panel-default">
          <div class="panel-heading"><b>Manage Users</b></div>
          <div class="panel-body text-center">
            <iframe src='/manageUsers' frameBorder="0" scrolling="no" height="425px"> </iframe><br>
          </div>
        </div>
      {% endif %}
      </div>
  </div>
{% endblock %}