{% extends "base.html" %}


{# Additional scripts and styles #}
{% block head %}
    {# Additional scripts #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="static/js/bundle.js"></script>
    
    {# Load json used for form dynamic generation #}
    <script>
      const BUILDINGS = ({{ buildings|tojson }});
    </script>

    {# Page style #}
    <style>
      .jumbotron label {
        font-size: 16px;
      }
    </style>
{% endblock %}


{# Content of the tab #}
{% block content %}
  
  <div class="container">
    <div class="jumbotron">
      <h3 class="page-header" style="margin-top: 0px;">Buildings settings</h3>

      {# Description of the tab #}
      <div class="well">
        <p style="font-size: 15px;">This tab allows you to update the information of the buildings. You can add a new one, or you can modify or delete an existing one. To add a new one, make sure to follow the instructions provided with the data-integration service folder.</p>
        <p style="font-size: 15px;">You can also refresh the webserver's buildings information if you changed some data manually by clicking on the following button</p>
          {# Button to reload server data #}
          <a href="#" id="refresh"><button class="btn btn-custom">Reload infos</button></a>
      </div>

      {#  Select to chose the building #}
      <div class="form-group">
        <label for="building">Building:</label>
        {# Option to add a building #}
        <select class="form-control" onchange="toggleButtons();" id="building">
          <option value="addBuilding">
            Add a new building
          </option>
          {# Options to modify existing buildings #}
          <optgroup label="Existing buildings">
            {% for building in buildings %}
              <option value="{{ building.name }}">{{ building.display_name }}</option>
            {% endfor %}
          </optgroup>
        </select>
      </div>
      <hr>

      {# Form allowing to add or modify a buidling #}
      {# Name of the building as in the api #}
      <div class="form-group">
        <label for="buildingName">Building name:</label>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Name of the building as used in the integration service"></span>
        <input type="text" class="form-control" required placeholder="eg. B28" id="buildingName">
      </div>
      {# Name of the building, as displayed on the website #}
      <div class="form-group">
        <label for="buildingDisplayName">Building display name:</label>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="Name that will be used on the website to identify a (group of) building(s)"></span>
        <input type="text" class="form-control" required placeholder="eg. B28, B37, B65 and B26" id="buildingDisplayName">
      </div>
      {# Type of building #}
      <div class="form-group">
        <label for="type">Type:</label>
        <select class="form-control" id="type" onchange="clickType();">
          {# Generated on basis of existing types #}
        </select>
      </div>
      {# Location of the building #}
      <div class="form-group">
        <label for="location">Building coordinates:</label>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="The geographical coordinates of the building. Format: latitude, longitude"></span>
        <input type="text" class="form-control" required placeholder="eg. 8.5698, 1.4257" id="location">
      </div>
      {# Datatype to plot on the map #}
      <div class="form-group">
        <label for="mapDatatype">Map datatype:</label>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="The datatype to show in the diagrams on the map"></span>
        <select class="form-control" id="mapDatatype">
          {# Generted on the basis of the chosen type #}
        </select>
      </div>
      {# List of datatypes for this type #}
      <div>
        <label>Datatypes:</label>
        <p id="datatypes" style="font-size: 15px;"></p>
      </div>
      {# Minimas #}
      <div class="form-group">
        <label for="minimas">Minimas:</label>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="The minimas of each dataype. format: minima1, minima2, ..."></span>
        <input type="text" class="form-control" required placeholder="eg. 10000, 10000, 10000, 6, 6, ..." id="minimas">
      </div>
      {# Maximas #}
      <div class="form-group">
        <label for="maximas">Maximas:</label>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="The maximas of each dataype. format: maxima1, maxima2, ..."></span>
        <input type="text" class="form-control" required placeholder="eg. 20000, 20000, 20000, 15, 15, ..." id="maximas">
      </div>
      {# Last added #}
      <div class="form-group">
        <label for="lastAdded">Last date added:</label>
        <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title="The oldest date the api will have acces to. Format: DD/MM/YYYY HH:mm"></span>
        <input type="text" class="form-control" required placeholder="eg. 14/08/2018 13:15" id="lastAdded">
      </div>

      {# Dynamic buttons #}
      <div id="addButton" style="margin-top: 20px;">
        <button class="btn btn-custom btn-block" onclick="addBuilding();">Add building</button>
      </div>
      <div style="display: none" id="modifyButtons">
        <div class="btn-group btn-group-justified">
          <div class="btn-group">
            <button class="btn btn-warning" onclick="modifyBuilding();">Modify building</button>
          </div>
          <div class="btn-group">
            <button class="btn btn-danger" onclick="deleteBuilding();">Delete building</button>
          </div>
        </div>
    </div>
  </div>

  {# Additional scripts #}
  <script type="text/javascript" src="static/js/addBuilding.js"></script>
  <script>
    // Send request to the webserver to reload buildings data
    $(function() {
      $('a#refresh').bind('click', function() {
        $.getJSON('/refresh',
          function(data) {
            //Do  nothing
        });
        return false;
      });
    });
    // Initialise the tooltips
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

{% endblock %}