{# Parent template, extended in every page of the website #}

<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <title>NYK - {{ title }}</title>

  {# Load scripts and styles used by every child template #}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" type="text/css">
  <link rel="stylesheet" href="static/css/base.css" type="text/css">
  <link rel="icon" href="static/images/favicon.ico" type="image/png">
  {# Following block used for scripts/styles of the childs #}
  {% block head %}{% endblock %}
</head>

<body>
  {# macro used for highlighting current tab #}
  {% macro nav_link(endpoint, name) %}
  {% if request.endpoint.endswith(endpoint) %}
    <li><a href="{{ url_for(endpoint) }}"><p class="tablink active">{{name}}</p></a></li>
  {% else %}
    <li><a href="{{ url_for(endpoint) }}"><p class="tablink">{{name|safe}}</p></a></li>
  {% endif %}
  {% endmacro %}
  {# Top navigation bar #}
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home"><img src="/static/images/logo.svg" style='height:80%'></a>
      </div>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="nav navbar-nav">
          {{ nav_link('map', 'Map') }}
          {{ nav_link('plots', 'Plots') }}
          {% if is_authenticated()['can_export'] %}
            {{ nav_link('export', 'Export') }}
          {% endif %}
          {{ nav_link('phasor', 'Phasor') }}
          {% if is_authenticated()['can_add_build'] %}
            {{ nav_link('addBuilding', 'Add Building') }}
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if is_authenticated()['is_auth'] %}
            {{ nav_link('account', 'Manage') }}
          {% else %}
          {# if user not authenticated, a popup appears to login #}
          <li>
            <a data-toggle="modal" data-target="#login"><p class="tablink"><span class="glyphicon glyphicon-user"></span> Login</p></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {# Login modal #}
  <div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog" style="margin-top: 15vh;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="closeLogin" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body" align="center">
          <iframe sandbox="allow-top-navigation allow-forms allow-scripts allow-same-origin" src="/login" frameBorder="0" scrolling="no" height="275px" id="loginFrame"></iframe>
        </div>
      </div>
    </div>
  </div>

  {# The content of the page is extended below #}
  {% block content %}{% endblock %}
</body>
</html>