{% extends "base.html" %}


{# Additional scripts and styles #}
{% block content %}
  {# The documentation may not be displayed when the user is not connected #}
  {% if current_user.is_authenticated and current_user.canModify() %}
    <div id="Documentation" class="tabcontent container">
      <h3 class="page-header">Documentation</h3>
      <div class="row">
        <nav class="col-md-4" id="myScrollspy" style="padding-top: 10px;">
            <ul class="nav nav-pills nav-stacked well visible-md-block visible-lg-block" data-spy="affix">
              <h4>Contents</h4><hr>
              <li><a href="#addDatabase"><b>○ Add a building in the database</b></a></li>
              <li><a href="#addWebserver"><b>○ Add a building in the webserver</b></a></li>
              <li><a href="#addWebsite"><b>○ Add a building in the website</b></a></li>
              <li><a href="#addCable"><b>○ Add a cable/HV-cabin on the map</b></a></li>
            </ul>
        </nav>
        <div class="col-md-8 well" style="font-size: 110%; overflow: auto">
          <p id = "addDatabase" style="position: relative; top:-50px;">
            <h4 >Add a building in the database</h4><hr>
            This is the first thing to do before adding the building on the website. 
            You first need to modify the constant <em>TABLES</em> at the beginning of the file <em>create_db.py (website/create_db.py)</em>:<br><br>
            <img src="/static/images/db_create.png" class="img-responsive center-block" alt="" width="600px"><br>              You need to add to the list the name of the table as it is in the elecmon database. Make sure you add the the two tables related to the same building (the one updated each minute, ending with "_min" and the other with the quarter-hour data ending with "_15").<br>
            Once it's done, you need to run the script while connected to the university's VPN. The building should then be added in the database, but it will not be updated automatically every minute. For this, you need to modify the constant <em>TABLES</em> in the file <em>update_db.py (website/update_db.py)</em> this time. Change it the same way you did it in <em>create_db.py</em>. Save the file and it's done, the table will be uptaded automatically.
          </p>
          <br>
          <p id="addWebserver" style="position: relative; top:-50px;">
            <h4>Add a building in the webserver</h4><hr>
            The next step is to add the building in the webserver. Therefore you need to add the building in the dictionnary <em>BUILDINGS</em> in the file <em>webserver.py (website/webserver.py)</em>:<br><br>
            <img src="/static/images/buildings_server.png" class="img-responsive center-block" alt="" width="600px"><br>
            To add a building you thus need to add 2 elements. You can just copy the two first lines and replace the name of the building by the one you want to add. Once it's done, save the file and restart the server.
          </p>
          <br>
          <p id="addWebsite" style="position: relative; top:-50px;">
            <h4>Add a building on the website</h4><hr>
            To add a building on the website, you need to modify the constant <em>BUILDINGS</em>
            at the top of the file <em>map.js (website/static/js/map.js) :</em><br><br>
            <img src="/static/images/addBuildingMap.png" class="img-responsive center-block" alt="" width="600px"><br>
            You need to add a dictionary with the same keys as the ones that exists (you can simply
            copy one and paste it after the others). The key values are the following:
            <ul>
              <li>
                <em>name :</em> It corresponds to the name that identifies the (group of) building(s)
                in the databases (without the time interval of the table specified). For example, the
                tables of the group of buildings composed of the B28, the B37, the B65 and the B26 in
                the databases are called "B28_min" and "B28_15", so the name is "B28".
              </li>
              <li>
                <em>coordinates :</em> It corresponds to the geographic coordinates of the marker of
                the (group of) building(s) on the map. You can find them by clicking on the place you
                would like to have the coordinates for on
                <a href="https://www.google.com/maps/@50.585444,5.5638573,742m/data=!3m1!1e3" target="_blank">
                  Google maps
                </a>:<br><br>
                <img src="/static/images/mapCoordinates.png" class="img-responsive center-block" width="600px" alt="">
              </li><br>
              <li>
                <em>display_name :</em> This is the name that will be displayed on the website (in the
                options panel, in the options of the selectors and in the title of the popup in the map).
              </li>
            </ul>
            Make sure you added the tables of the (group of) building(s) in the other parts of the website
            (database, webserver, update_db,...). The building will be added in all parts of the website (map, data, export and phasor diagrams).
          </p>
          <br>
          <p id="addCable" style="position: relative; top:-50px;">
            <h4>Add a cable or an HV-cabin on the map</h4><hr>
            All the cables and HV-cabins information is stored in the file
            <em>cables.geojson (website/static/js/cables.geojson)</em>. The cables are "Linestring" features,
            and the cabins are "Point" features. It is possible to modify it manually, following the
            <a href="https://geojson.org/" target="_blank">GeoJSON</a>
            specification, but we don't recommend it since it's not convenient at all. Instead, you can use
            an online editor such as <a href="https://cloud.maptiler.com/data/" target="_blank">maptiler.com</a>,
            where you can load the cables.geojson file and modify it by drawing lines or placing points directly
            on a map (you need to select "create a new dataset", then "upload dataset"). Then you can download
            the modified file and replace it in the original repository.
            <img src="/static/images/maptiler.png" class="img-responsive center-block" width="600px" alt="">
          </p>
        </div>
      </div>
    </div>
  {% else %}
  <div class="container" style="margin-top: 50px;">
    <h2>Permission denied</h2>
    <p>Please login to access this page</p>
  </div>
  {% endif %}
{% endblock %}