{% extends "bootstrap/base.html" %}


{# Content of the tab #}
{% block content %}
<section class="py-5">
    <div class="container">
      <h1 class="font-weight-light">Wrong action !</h1>
      <p class="lead">{{msg}}</p>
    </div>
  </section>
{% endblock %}