{% extends "base.html" %}


{# Additional scripts and styles #}
{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="static/js/data.js"></script>
  <script type="text/javascript" src="static/js/bundle.js"></script>
  <script type="text/javascript" src="static/js/export.js"></script>
  <script>
    //Get datatypes used to dynamically change the selectors
    const DATATYPES = ({{ dataTypes|tojson }});
  </script>
{% endblock %}


{# Content of the tab #}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h2 class="page-header" style="margin-top: 0;">Export data to CSV</h2>
      {# Description of the tab #}
      <div class="well">
        <p style="font-size: 16px;"> This tab allows you to download a CSV file containing the data of one building. You can select the building, one or several datatypes, the time interval and the time step.</p>
      </div>
      {# Building selection#}
      <div class="form-group">
        <label for="export_building"><p>Building:</p></label>
        <select class="form-control" id="export_building" onchange="clickBuildingExport()">
          {% for building in buildings %}
            <option value="{{ building.name }}">{{ building.display_name }}</option>
          {% endfor %}
        </select>
      </div>
        
      {# Select time interval #}
      <div class="form-group" style="position: relative;">
        <label for="data_from_date" style="width: 100%;"><p>From:</p></label>
        <input type="text" id="data_from_date_export" class="form-control dateFrom" placeholder="Date" style="display: inline; max-width: 59%;">
        <input type="text" id="data_from_time_export" class="form-control time" placeholder="Time" style="display: inline; max-width: 40%;">
      </div>
      <div class="form-group" style="position: relative;">
        <label for="data_to_date" style="width: 100%;"><p>To:</p></label>
        <input type="text" id="data_to_date_export" class="form-control dateTo" placeholder="Date" style="display: inline; max-width: 59%;">
        <input type="text" id="data_to_time_export" class="form-control time" placeholder="Time" style="display: inline; max-width: 40%;">
      </div>

      {# Select data timestep #}
      <div id="timestepRadio">
        <label for="timestepRadio" style="margin-right: 10px;"><p>Time step:</p></label>
        <label class="radio-inline"><input type="radio" name="timestep" value="15" checked>15 min</label>
        <label class="radio-inline"><input type="radio" name="timestep" value="1">1 min</label>
      </div>

      {# Datatypes selection (container filled regarding the chosen building) #}
      <label for="datatypecheck"><p>Datatypes:</p></label>
      <div id="datatypecheck">
      </div>
      <script></script>

      <!-- Button to export data -->
      <button class="btn btn-custom form-control" onclick="data_export_handler();"><b>Download</b></button>
    </div>
  </div>
  <script>
    //Display calendar for date
    $(".dateFrom").datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: moment().subtract(1, 'days')
    });
    $(".dateTo").datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: moment()
    });

    //Display timer for time
    $(".time").datetimepicker({
      format: 'HH:mm',
      defaultDate: moment()
    });

    // Render the datatypes list when page loads for the first time
    clickBuildingExport();
  </script>
{% endblock %}