{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-map,.fa-arrows {font-size:200px}
</style>
<body>
<!-- Header -->
<header class="w3-container w3-orange w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Now You Know Project</h1>
  <p class="w3-xlarge">Be up to date in electrical energy !</p>
  <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top"  href="/map">Get Started</a>
</header>
<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>All in one interactive Map</h1>
      <h5 class="w3-padding-32">Select which building and which data type you want to see.</h5>

      <p class="w3-text-grey">The map functionality allows user to see where each building is along with its electrical production or comsumption.</p>
      <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top"  href="/map">See the map</a>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-map w3-padding-64 w3-text-orange"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-arrows w3-padding-64 w3-text-orange w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Real time diagrams</h1>
      <h5 class="w3-padding-32">You can plot the latest electrical data in many ways.</h5>

      <p class="w3-text-grey">Go to <a href="/plots" target="_blank">Plots</a> and displays interactive charts showing energy consumption or production of the ULiege.
        You might wonder how this three-phase current is behaving ? Go to <a href="/phasor" target="_blank">Phasor</a> and display a real-time diagram showing the balance of the current.  
      </p>
      <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top"  href="/plots">See Plots</a>
      <a class="w3-button w3-black w3-padding-large w3-large w3-margin-top"  href="/phasor">See Phasors</a>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">This project was done for the course : <a  href="https://www.programmes.uliege.be/cocoon/20192020/cours/PROJ0010-1.html">PROJ0010</a></h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
 <p>Created and Designed by Team 02 | Powered by <a href="https://www.facsa.uliege.be" target="_blank">FSA</a></p>
</footer>
{% endblock %}
