<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electrical energy at a glance</title> 

    <!-- Load bootstrap template -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

    <!-- Load the libraries used: Plotly.js for plotting and leaflet.js for interactive map -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdn.maptiler.com/mapbox-gl-js/v1.5.1/mapbox-gl.js"></script>
    <script src="https://cdn.maptiler.com/mapbox-gl-leaflet/latest/leaflet-mapbox-gl.js"></script>

    <!-- Load the map style and library: leaflet.js -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.maptiler.com/mapbox-gl-js/v1.5.1/mapbox-gl.css" />

    <!-- Load main CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico"> 

    <!-- Load the main js scripts -->
    <script type="text/javascript" src="static/js/index.js"></script>
    <script type="text/javascript" src="static/js/map.js"></script>
    <script type="text/javascript" src="static/js/data.js"></script>
    <script type="text/javascript" src="static/js/export.js"></script>
    <script type="text/javascript" src="static/js/phasor.js"></script>
  </head>

  {% if current_user.is_authenticated %}
  <body onload="document.getElementById('defaultOpen').click(); loadMap('map', true);" data-spy="scroll" data-target="#myScrollspy">
  {% else %}
  <body onload="document.getElementById('defaultOpen').click(); loadMap('map', false);" data-spy="scroll" data-target="#myScrollspy">
  {% endif %}
    <!-- this div represents the navigation-bar at the top -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding:0; margin-left:10px; margin-right: 30px;"><img src="/static/images/logo.svg" style='height:80%'></a>
        </div>
        <div class="collapse navbar-collapse" id="Navbar">
          <ul class="nav navbar-nav">
            <li><a class="tablink" onclick="openPage('Map', this); $('#Navbar').collapse('hide');" id="defaultOpen">Map</a></li>
            <li><a class="tablink" onclick="openPage('Data', this); updateSidebar(); data_sidebar_handler(); $('#Navbar').collapse('hide');">Data</a></li>
            {% if current_user.is_authenticated and current_user.canExport() %}
            <li><a class="tablink" onclick="openPage('Export', this); $('#Navbar').collapse('hide');">Export</a></li>
            {% endif %}
            <li><a class="tablink" onclick="openPage('Phasor', this); phasor_sidebar_handler(); $('#Navbar').collapse('hide');">Phasor</a></li>
            {% if current_user.is_authenticated and current_user.canModify() %}
            <li><a class="tablink" onclick="openPage('Documentation', this); $('#Navbar').collapse('hide');">
            Documentation</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li>
              <a class="tablink" onclick="openPage('Manage', this); $('#Navbar').collapse('hide');">
                <span class="glyphicon glyphicon-user"></span>
                Manage
              </a>
            </li>
            {% else %}
            <li>
              <a class="tablink" onclick="openPage('Login', this); $('#Navbar').collapse('hide');">
                <span class="glyphicon glyphicon-user"></span>
                Login
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Each of the following div's represents the content of the corresponding tab -->
    <div id="Map" class="tabcontent container-fluid">
      <h3 class="container page-header">Map of the 15-kV cable network and consumptions of several buildings</h3>
      <div class="row container-fluid " style="height: 90%;">
        <div class="col-lg-2 container" style="margin-top: 1%; max-width: 80vw;">
          <div class="alert alert-info alert-dismissible fade in visible-xs"><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>Put your mobilephone on landscape mode for a better view of the map.</strong></div>
          <div class="panel panel-default">
            <div class="panel-heading"><b>Options:</b></div>
            <div class="panel-body">
              <script>
              // Adds buttons for pop up diagrams
              for (i = 0; i < BUILDINGS.length; i++) {
                document.write(
                  "<h5>" + BUILDINGS[i].display_name + " :</h5><button class='btn btn-primary' onclick='MAP_MARKERS[\""
                  + BUILDINGS[i].name + "\"].closePopup();MAP_MARKERS[\"" + BUILDINGS[i].name
                  + "\"].openPopup();'>Show</button> <button class='btn btn-warning' onclick='MAP_MARKERS[\""
                  + BUILDINGS[i].name + "\"].closePopup();'>Hide</button>"
                );
              }
              </script><hr>
              <h5>Time interval:</h5>
              <div class="btn-toolbar" role="toolbar">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-primary" onclick="changeInterval(15, 'min')">15m</button>
                  <button type="button" class="btn btn-primary" onclick="changeInterval(1, 'hour')">1h</button>
                  <button type="button" class="btn btn-primary" onclick="changeInterval(4, 'hour')">4h</button>
                </div> 
                <div class="btn-group" role="toolbar">
                  <button type="button" class="btn btn-primary" onclick="changeInterval(8, 'hour')">8h</button>
                  <button type="button" class="btn btn-primary" onclick="changeInterval(12, 'hour')">12h</button>
                  <button type="button" class="btn btn-primary" onclick="changeInterval(1, 'day')">24h</button>
                </div>
                <div class="btn-group" role="toolbar">
                  <button type="button" class="btn btn-primary" onclick="changeInterval(1, 'week')">1week</button>
                  <button type="button" class="btn btn-primary" onclick="changeInterval(1, 'month')">1month</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="map" class="col-lg-8 container-fluid"></div>
        <div class="col-lg-2 container" style="margin-top: 1%; max-width: 80vw;">
          {% if current_user.is_authenticated %}
          <button type="button" class="btn btn-info" id="fullscreen">Full screen mode</button>
          {% endif %}
        </div>
      </div>
    </div>

    <script>
      $('#fullscreen').on('click', function(){
          if (
            document.fullscreenElement ||
            document.webkitFullscreenElement ||
            document.mozFullScreenElement ||
            document.msFullscreenElement
          ) {
            if (document.exitFullscreen) {
              document.exitFullscreen();
            } else if (document.mozCancelFullScreen) {
              document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
              document.webkitExitFullscreen();
            } else if (document.msExitFullscreen) {
              document.msExitFullscreen();
            }
          } else {
            element = $('#map').get(0);
            if (element.requestFullscreen) {
              element.requestFullscreen();
            } else if (element.mozRequestFullScreen) {
              element.mozRequestFullScreen();
            } else if (element.webkitRequestFullscreen) {
              element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            } else if (element.msRequestFullscreen) {
              element.msRequestFullscreen();
            }
          }
        });
    </script>


    <div id="Data" class="tabcontent container-fluid">
      <h3 class="container page-header">Plots of the electrical data of the campus buildings</h3>
      <div class='row align-items-center' id='data'>
        <div id="diag" class="col-lg-10 container-fluid" style="max-height:70vw; padding: 3px;"></div> <!-- This div is used by plotly -->
        <div class = "col-lg-2 container-fluid" style="margin-top: 1%; max-width: 80vw;">
          <div class="panel panel-default">
            <div class="panel-heading"><b>Choose plot options</b></div>
            <div class="panel-body">
              <!-- Select the building -->
              <form>
                <label for="data_building">Building:</label>
                <select class="form-control custom-select" id="data_building" onclick="clickBuilding()">
                  <script>
                    for (i = 0; i < BUILDINGS.length; i++) {
                      document.write("<option value="+BUILDINGS[i].name+">"+BUILDINGS[i].display_name+"</option>");
                    }
                  </script>
                </select>
              </form>
              <br>

              <!-- Select the datatype -->
              <form>
                <label for="data_datatype">Datatype:</label>
                <select class="form-control custom-select" id="data_datatype">
                  <option value="power" selected>three-phase active power (kW)</option>
                  <option value="kvar">three-phase reactive power (kvar)</option>
                  <option value="tension12">phase-to-phase voltage 12 (V)</option>
                  <option value="tension23">phase-to-phase voltage 23 (V)</option>
                  <option value="tension31">phase-to-phase voltage 31 (V)</option>
                  <option value="current1">current in phase 1 (A)</option>
                  <option value="current2">current in phase 2 (A)</option>
                  <option value="current3">current in phase 3 (A)</option>
                </select>
              </form>
              <br>

              <!-- Select between live and manual mode -->
              <form>
                <input type="radio" id="radio_live" name="live_manual" onclick="clickRadioLiveManual()" checked>
                <label for="live">live</label>
                <input type="radio" id="radio_manual" name="live_manual" onclick="clickRadioLiveManual()">
                <label for="manual">manual</label>
              </form>
              <br>


              <!-- Menu for the manual mode -->
              <div id="manual_mode" style="display:none">
                <form>
                  <label for="data_from_date">From:</label>
                  <input type="text" id="data_from_date" class="form-control date" placeholder="Date">
                  <input type="text" id="data_from_time" class="form-control time" placeholder="Time">
                </form>
                <br>
                <form>
                  <label for="data_to_date">To:</label>
                  <input type="text" id="data_to_date" class="form-control date" placeholder="Date">
                  <input type="text" id="data_to_time" class="form-control time" placeholder="Time">
                </form>
                <br>
              </div>

              <!-- Menu for the live mode -->
              <div id="live_mode">
                <label for="live_shift_number">Show last:</label>
                <input type="number" class='form-control' id="live_shift_number" value=1>
                <select class="form-control custom-select" id="live_unit_list">
                  <option value="min">minute(s)</option>
                  <option value="hour">hour(s)</option>
                  <option value="day" selected>day(s)</option>
                  <option value="month">month(s)</option>
                  <option value="year">year(s)</option>
                </select>
                <br>
              </div>

              <!-- Menu for comparing -->
              <input type="checkbox" id="checkbox_compare" name="compare" onclick="clickCheckboxCompare()">
              <label for="compare">Compare with before:</label><br>
              <div id=compare_menu style="display:none">
                <input type="number" class="form-control" id=number_to_compare value=1>
                <select class="form-control custom-select" id="compare_unit_list" >
                  <option value="min" selected>minute(s)</option>
                  <option value="hour">hour(s)</option>
                  <option value="day">day(s)</option>
                  <option value="month">month(s)</option>
                  <option value="year">year(s)</option>
                </select>
              </div>

              <!-- Button to update the view -->
              <button style="float:right" class="btn btn-primary" onclick="data_sidebar_handler();">Show data</button>
            </div>
            <div id="limited" class="panel-footer"></div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="panel panel-info" style="margin-left: 50px; margin-right: 50px;">
            <div class="panel-heading">
              <b>Indicators :</b>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-4">
                  <div id="indicator1"></div>
                </div>
                <div class="col-lg-4">
                  <div id="indicator2"></div>
                </div>
                <div class="col-lg-4">
                  <div id="indicator3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>

    {% if current_user.is_authenticated and current_user.canExport() %}
    <div id="Export" class="tabcontent container">
      <h3 class="page-header">Export data to CSV</h3>
      <div class='row align-items-center container' id='export'>
        <div class="col-lg-2"></div>
        <div class = "col-lg-8" style="margin-top: 1%; max-width: 100vw;">
          <div class="panel panel-default">
            <div class="panel-heading"><b>Choose export options</b></div>
            <div class="panel-body">
              <!-- Select the building -->
              <form>
                <label for="export_building">Building:</label>
                <select class="form-control" id="export_building" onclick="clickBuildingExport()">
                  <script>
                    for (i = 0; i < BUILDINGS.length; i++) {
                      document.write("<option value="+BUILDINGS[i].name+">"+BUILDINGS[i].display_name+"</option>");
                    }
                  </script>
                </select>
              </form>
              <br>
              <!-- Select the datatype -->
              <form name ="datatypecheck">
                <label for="datatypecheck">Datatype:</label>
                <div id ="data_type_export">
                  <div class="checkbox">
                    <label for="data_datatype1">
                      <input type="checkbox" name="data_datatype1" id="data_datatype1" value="power">
                      three-phase active power (kW)
                    </label><br>
                  </div>
                  <div class="checkbox">
                    <label for="data_datatype2">
                      <input type="checkbox" name="data_datatype2" id="data_datatype2" value="kvar">
                      three-phase reactive power (kvar)
                    </label><br>
                  </div>
                  <div class="checkbox">
                    <label for="data_datatype3">
                      <input type="checkbox" name="data_datatype3" id="data_datatype3" value="tension12">
                      phase-to-phase voltage 12 (V)
                    </label><br>
                  </div>
                  <div class="checkbox">
                    <label for="data_datatype4">
                      <input type="checkbox" name="data_datatype4" id="data_datatype4" value="tension23">
                      phase-to-phase voltage 23 (V)
                    </label><br>
                  </div>
                  <div class="checkbox">
                    <label for="data_datatype5">
                      <input type="checkbox" name="data_datatype5" id="data_datatype5" value="tension31">
                      phase-to-phase voltage 31 (V)
                    </label><br>
                  </div>
                  <div class="checkbox">
                    <label for="data_datatype6">
                      <input type="checkbox" name="data_datatype6" id="data_datatype6" value="current1">
                      current in phase 1 (A)
                    </label><br>
                  </div>
                  <div class="checkbox">
                    <label for="data_datatype7">
                      <input type="checkbox" name="data_datatype7" id="data_datatype7" value="current2">
                      current in phase 2 (A)
                      </label><br>
                  </div>
                  <div class="checkbox">
                    <label for="data_datatype8">
                      <input type="checkbox" name="data_datatype8" id="data_datatype8" value="current3">
                      current in phase 3 (A)
                    </label>
                  </div>
                </div>
              </form>
              <br>
              <!-- Select time interval -->
              <div id="manual_mode">
                <form>
                  <label for="data_from_date">From:</label>
                  <input type="text" id="data_from_date_export" class="form-control date" placeholder="Date">
                  <input type="text" id="data_from_time_export" class="form-control time" placeholder="Time">
                </form>
                <br>
                <form>
                  <label for="data_to_date">To:</label>
                  <input type="text" id="data_to_date_export" class="form-control date" placeholder="Date">
                  <input type="text" id="data_to_time_export" class="form-control time" placeholder="Time">
                </form>
                <br>
              </div>
              <!-- Button to export data -->
              <button class="btn btn-primary" onclick="data_export_handler();">Export data</button>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    {% endif %}


    <div id="Phasor" class="tabcontent container-fluid">
      <h3 class="container page-header">Phasor diagrams of the electrical data of the campus buildings</h3>
      <div class='row container-fluid' style="height: 90%;">
        <div class = "col-lg-2 container" style="margin-top: 1%; max-width: 80vh;">
          <div class="panel panel-default">
            <div class="panel-heading"><b>Select options</b></div>
            <div class="panel-body">
              <form> 
                <label for="phasor_building">Building:</label>
                <select class="form-control custom-select" id="phasor_building">
                  <script>
                    for (i = 0; i < BUILDINGS.length; i++) {
                      if (BUILDINGS[i].name == "parkings") {
                        //pass (no phasor for photovoltaic pannels)
                      }
                      else {
                        document.write("<option value="+BUILDINGS[i].name+">"+BUILDINGS[i].display_name+"</option>");
                      }
                    }
                  </script>
                </select>
                <br>
                <label for="phasor_from_date">From:</label>
                <input class="form-control date" type="text" id="phasor_from_date">
                <input class="form-control time" type="text" id="phasor_from_time">
                <br>
                <label for="phasor_to_date">To:</label>
                <input class="form-control date" type="text" id="phasor_to_date">
                <input class="form-control time" type="text" id="phasor_to_time">
               <br>
              </form>
              <button class="btn btn-primary" onclick="phasor_sidebar_handler();">Show phasor</button>
            </div>
            <div id="limited_phasor" class="panel-footer"><p></p></div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5 container" style="max-width:100vw">
          <div class="panel panel-primary">
            <div class="panel-heading text-center">
              <label style="font-size:16px;" for="phasor_canvas" id="phasor_date"></label>
            </div>
            <div class="panel-body" style="border-color: rgb(249,249,249);border-style:ridge;">
              <canvas id="phasor_canvas" width="1250px" style="width:100%;"></canvas>
            </div>
            <div class="panel-footer">
              <label for="phasor_slider">Slide to change time</label>
              <input class="form-control-range" type="range" min="0" max="100" value="0" id="phasor_slider" oninput="PHASOR_DIAGRAM.setState(parseInt(this.value));">
              <div class="text-center">
                <br>
               <button type="button" id="playpause" class="btn btn-primary glyphicon glyphicon-play" title="Play/Pause" onclick="PHASOR_PLAYER.toggle(); document.getElementById('playpause').classList.toggle('glyphicon-play'); document.getElementById('playpause').classList.toggle('glyphicon-pause')"></button>
               <button type="button" class="btn btn-primary glyphicon glyphicon-step-backward" title="Reset" onclick="PHASOR_PLAYER.reset();document.getElementById('playpause').classList.add('glyphicon-play');document.getElementById('playpause').classList.remove('glyphicon-pause');"></button>
              <button type="button" class="btn btn-primary glyphicon glyphicon-minus" title="Slower" onclick="PHASOR_PLAYER.decelerate();"></button>
              <button type="button" class=" btn btn-primary glyphicon glyphicon-plus" title="Faster" onclick="PHASOR_PLAYER.accelerate();"></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
        <script>
          var canvas = document.getElementById("phasor_canvas");
          var heightRatio = 0.8;
          canvas.height = canvas.width * heightRatio;
          PHASOR_DIAGRAM.setCanvas(document.getElementById("phasor_canvas"));
        </script>
        <div class = "col-lg-3 container" style="margin-top: 1%; max-width: 80vh;">
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-info">
                <div class="panel-heading"><b>Phase-to-phase voltages :</b></div>
                <div class="panel-body">
                  <p> U<sub>12</sub> = <span id="phasor_u12">\</span> kV</p>
                  <p> U<sub>23</sub> = <span id="phasor_u23">\</span> kV</p>
                  <p> U<sub>31</sub> = <span id="phasor_u31">\</span> kV</p>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="panel panel-info">
                <div class="panel-heading"><b>Phase currents :</b></div>
                <div class="panel-body">
                  <p> I<sub>1</sub> = <span id="phasor_I1">\</span> A</p>
                  <p> I<sub>2</sub> = <span id="phasor_I2">\</span> A</p>
                  <p> I<sub>3</sub> = <span id="phasor_I3">\</span> A</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-info">
                <div class="panel-heading"><b>Three-phase reactive power :</b></div>
                <div class="panel-body">
                  <p> Q = <span id="phasor_Q">\</span> kvar</p>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="panel panel-info">
                <div class="panel-heading"><b>Three-phase active power :</b></div>
                <div class="panel-body">
                  <p> P = <span id="phasor_P">\</span> kW</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="panel panel-info">
                <div class="panel-heading"><b>Phase shift :</b></div>
                <div class="panel-body">
                  <p> θ = <span id="phasor_theta">\</span> rad</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      //Display calendar for date
      $(".date").datetimepicker({
        format: 'LL'
      });

      //Display timer for time
      $(".time").datetimepicker({
        format: 'HH:mm'
      });
    </script>

    {% if current_user.is_authenticated and current_user.canModify() %}
    <div id="Documentation" class="tabcontent container">
      <h3 class="page-header">Documentation</h3>
      <div class="row">
        <nav class="col-md-4" id="myScrollspy" style="padding-top: 10px;">
            <ul class="nav nav-pills nav-stacked well visible-md-block visible-lg-block" data-spy="affix">
              <h4>Contents</h4><hr>
              <li><a href="#addDatabase"><b>○ Add a building in the database</b></a></li>
              <li><a href="#addWebserver"><b>○ Add a building in the webserver</b></a></li>
              <li><a href="#addWebsite"><b>○ Add a building in the website</b></a></li>
              <li><a href="#addCable"><b>○ Add a cable/HV-cabin on the map</b></a></li>
            </ul>
        </nav>
        <div class="col-md-8 well" style="font-size: 110%; overflow: auto">
          <p id = "addDatabase" style="position: relative; top:-50px;">
            <h4 >Add a building in the database</h4><hr>
            This is the first thing to do before adding the building on the website. 
            You first need to modify the constant <em>TABLES</em> at the beginning of the file <em>create_db.py (website/create_db.py)</em>:<br><br>
            <img src="/static/images/db_create.png" class="img-responsive center-block" alt="" width="600px"><br>              You need to add to the list the name of the table as it is in the elecmon database. Make sure you add the the two tables related to the same building (the one updated each minute, ending with "_min" and the other with the quarter-hour data ending with "_15").<br>
            Once it's done, you need to run the script while connected to the university's VPN. The building should then be added in the database, but it will not be updated automatically every minute. For this, you need to modify the constant <em>TABLES</em> in the file <em>update_db.py (website/update_db.py)</em> this time. Change it the same way you did it in <em>create_db.py</em>. Save the file and it's done, the table will be uptaded automatically.
          </p>
          <br>
          <p id="addWebserver" style="position: relative; top:-50px;">
            <h4>Add a building in the webserver</h4><hr>
            The next step is to add the building in the webserver. Therefore you need to add the building in the dictionnary <em>BUILDINGS</em> in the file <em>webserver.py (website/webserver.py)</em>:<br><br>
            <img src="/static/images/buildings_server.png" class="img-responsive center-block" alt="" width="600px"><br>
            To add a building you thus need to add 2 elements. You can just copy the two first lines and replace the name of the building by the one you want to add. Once it's done, save the file and restart the server.
          </p>
          <br>
          <p id="addWebsite" style="position: relative; top:-50px;">
            <h4>Add a building on the website</h4><hr>
            To add a building on the website, you need to modify the constant <em>BUILDINGS</em>
            at the top of the file <em>map.js (website/static/js/map.js) :</em><br><br>
            <img src="/static/images/addBuildingMap.png" class="img-responsive center-block" alt="" width="600px"><br>
            You need to add a dictionary with the same keys as the ones that exists (you can simply
            copy one and paste it after the others). The key values are the following:
            <ul>
              <li>
                <em>name :</em> It corresponds to the name that identifies the (group of) building(s)
                in the databases (without the time interval of the table specified). For example, the
                tables of the group of buildings composed of the B28, the B37, the B65 and the B26 in
                the databases are called "B28_min" and "B28_15", so the name is "B28".
              </li>
              <li>
                <em>coordinates :</em> It corresponds to the geographic coordinates of the marker of
                the (group of) building(s) on the map. You can find them by clicking on the place you
                would like to have the coordinates for on
                <a href="https://www.google.com/maps/@50.585444,5.5638573,742m/data=!3m1!1e3" target="_blank">
                  Google maps
                </a>:<br><br>
                <img src="/static/images/mapCoordinates.png" class="img-responsive center-block" width="600px" alt="">
              </li><br>
              <li>
                <em>display_name :</em> This is the name that will be displayed on the website (in the
                options panel, in the options of the selectors and in the title of the popup in the map).
              </li>
            </ul>
            Make sure you added the tables of the (group of) building(s) in the other parts of the website
            (database, webserver, update_db,...). The building will be added in all parts of the website (map, data, export and phasor diagrams).
          </p>
          <br>
          <p id="addCable" style="position: relative; top:-50px;">
            <h4>Add a cable or an HV-cabin on the map</h4><hr>
            All the cables and HV-cabins information is stored in the file
            <em>cables.geojson (website/static/js/cables.geojson)</em>. The cables are "Linestring" features,
            and the cabins are "Point" features. It is possible to modify it manually, following the
            <a href="https://geojson.org/" target="_blank">GeoJSON</a>
            specification, but we don't recommend it since it's not convenient at all. Instead, you can use
            an online editor such as <a href="https://cloud.maptiler.com/data/" target="_blank">maptiler.com</a>,
            where you can load the cables.geojson file and modify it by drawing lines or placing points directly
            on a map (you need to select "create a new dataset", then "upload dataset"). Then you can download
            the modified file and replace it in the original repository.
            <img src="/static/images/maptiler.png" class="img-responsive center-block" width="600px" alt="">
          </p>
        </div>
      </div>
    </div>
    {% endif %}






    {% if current_user.is_authenticated %}
    <div id="Manage" class="tabcontent container">
    {% else %}
    <div id="Login" class="tabcontent container-fluid">
    {%endif%}
      {% if current_user.is_authenticated %}
      <div class="container">
        <div class="page-header">
          <div class='btn-toolbar pull-right'>
            <button class="btn btn-danger" onclick="location.href='/logout'">Logout</button>
          </div>
          <h3>Account management</h3>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading"><b>Modify password</b></div>
              <div class="panel-body text-center">
                <iframe src="/modifyPassword" frameBorder="0" scrolling="no" height="250px"></iframe><br>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            {% if current_user.canRegister() %}
            <div class="panel panel-default">
              <div class="panel-heading"><b>Register new user</b></div>
              <div class="panel-body text-center">
                <iframe src='/register' frameBorder="0" scrolling="no" height="425px"> </iframe>
              </div>
            </div>
            {% endif %}
          </div>
          <div class="col-lg-4">
            {% if current_user.canRegister() %}
            <div class="panel panel-default">
              <div class="panel-heading"><b>Manage Users</b></div>
              <div class="panel-body text-center">
                <iframe src='/manageUsers' frameBorder="0" scrolling="no" height="425px"> </iframe><br>
              </div>
            </div>
            {% endif %}
          </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
          <div class="panel panel-primary" style="margin-top: 50%">
            <div class="panel-heading"><b>Log in</b></div>
            <div class="text-center panel-body">
              <iframe sandbox="allow-top-navigation allow-forms allow-scripts allow-same-origin" src='/login' frameBorder="0" scrolling="no" height="275px" id="loginFrame"></iframe>
            </div>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>
      {% endif %}
    </div>
  </body>
</html>
