{% extends "bootstrap/base.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }}">{{ messages[0][1] }}</div>
            <script>
                console.log("{{ messages[0][0] }}");
                if ("{{ messages[0][0] }}" === "success") {
                    console.log("refresh");
                    window.top.location.reload();
                }
            </script>
        {% endif %}
    {% endwith %}
    <form action="" method="post" class="form" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class_="form-control") }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class_="form-control") }}
        </p>
        <p>{{ form.submit(class_="btn btn-primary") }}</p>
    </form>
{% endblock %}