{% extends "bootstrap/base.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }}">{{ messages[0][1] }}</div>
        {% endif %}
    {% endwith %}
    <form action="" method="post" class="form" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(class_="form-control") }}
        </p>

        <h4>Modifications :</h4>

        <p>
        	{{ form.modifySite.label }}
        	{{ form.modifySite }}
        </p>
        <p>
        	{{ form.registerPeople.label }}
        	{{ form.registerPeople }}
        </p>
        <p>
            {{form.accessData.label}}
            {{form.accessData}}
        </p>

        <p>
            {{ form.delete.label }}
            {{ form.delete }}
        </p>

        <p>{{ form.submit(class_="btn btn-success") }}</p>
    </form>
{% endblock %}