{% extends "base.html" %}


{# Additional scripts and styles #}
{% block head %}
  {# Additional stylesheets #}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" type="text/css"/>
  <link rel="stylesheet" href="//unpkg.com/leaflet-gesture-handling/dist/leaflet-gesture-handling.min.css" type="text/css"/>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css" type="text/css"/>
  <link rel="stylesheet" href="static/css/map.css">

  {# Additional scripts #}
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
  <script src="//unpkg.com/leaflet-gesture-handling"></script>

    {# Building info passing #}
    <script>
      const BUILDINGS = ({{ buildings|tojson }});
      const MAP_DIAGRAMS = {};
      const MAP_MARKERS = {};
      {% if is_authenticated()['is_auth'] %}
        const connected = true;
      {% else %}
        const connected = false;
      {% endif %}
      const MINIMUMS = ({{ minimums|tojson }});
    </script>
{% endblock %}


{# Content of the tab #}
{% block content %}
  
  <div class="container-fluid">
    {# Title at the top of the page #}
    <h3 class="container page-header">
      <span class="pull-left">Map of the 15-kV cable network and consumptions of several buildings</span>
      <span class="glyphicon glyphicon-question-sign pull-right tootltip" title="Show help" data-toggle="modal" data-target="#help"></span>
    </h3>

    {# Modal to show help when clicked #}
    <div id="help" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" style="margin-top: 10vh;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Help</h4>
          </div>
          {# Help content #}
          <div class="modal-body" style="font-size: 16px;">
            <p>
              This tab contains an interactive map showing the live power consumption or production of several buildings, as well as the 15-kV (simplified) cable network of the ULiège's campus.
            </p>
            <p>
              To select a building, you can click on the <span class="glyphicon glyphicon-home"></span> menu in the top left corner of the map. This will center the view on the selected building. To show the diagram of this building, click on the <span class="glyphicon glyphicon-home"></span> icon that is now on the center of the map. You can of course display the diagrams of several buildings at the same time.
            </p>
            <p>
              You can also select a time interval for the diagrams by clicking on the <span class="glyphicon glyphicon-time"></span> menu in the top left corner of the map. Selecting "15 minutes" will show the power consumption/production during the 15 last minutes, (and will be updated every minute).
            </p>
            <p>
              The menu also contains a full-screen button, as well as zoom-in and zoom-out buttons.
            </p>
            <br>
            <p>
              Sometimes, <b>values can be missing</b> due to a malfunctionning sensor. These values are set to a default value (the lowest allowed) and are <b>shown in red</b> on the plots.
            </p>
          </div>
        </div>
      </div>
    </div>

    {# Div to show error message if connection to API lost #}
    <div id="error" class="container"></div> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1">
        </div>
        {# Div to contain the map #}
        <div id="map" class="col-lg-10"></div>
        <div class="col-lg-1">
        </div>
      </div>
    </div>
  </div>

  {# Building options (on the map container) #}
  <div id="buildingDrop" style="display: none;">
    <a href="#" data-toggle="dropdown" title="Select building">
      <span class="glyphicon glyphicon-home" style="font-size: 13px;"></span>
    </a>
      <ul class="dropdown-menu">
        {% for building in buildings %}
          <li onclick="map.flyTo(({{ building.location }}))">{{ building.display_name }}</li>
        {%  endfor %}
      </ul>
  </div>

  {# Additional scripts #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script type="text/javascript" src="static/js/bundle.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="static/js/data.js"></script>
  {# Script building the map#}
  <script type="text/javascript" src="static/js/map.js"></script>
{% endblock %}