{% extends "bootstrap/base.html" %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-{{ messages[0][0] }}">{{ messages[0][1] }}</div>
        {% endif %}
    {% endwith %}
    <form action="" method="post" class="form" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.newPassword.label }}<br>
            {{ form.newPassword(class_="form-control") }}
        </p>
        <p>{{ form.submit(class_="btn btn-warning") }}</p>
    </form>
{% endblock %}