{% extends "base.html" %}


{# Additional scripts and styles #}
{% block head %}
  {# Additional stylesheets #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/plots.css" type="text/css">

  {# Additional scripts #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="static/js/data.js"></script>
  <script type="text/javascript" src="static/js/bundle.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/7.1.0/math.min.js"></script>
  <script type="text/javascript" src="static/js/phasor.js"></script>
{% endblock %}


{# Content of the tab #}
{% block content %}

  <div class="container-fluid">
    {# Title at the top of the page #}
    <h3 class="container page-header">
      <span class="pull-left">Phasor diagrams of the electrical data of the campus buildings</span>
      <span class="glyphicon glyphicon-question-sign pull-right tootltip" title="Show help" data-toggle="modal" data-target="#help"></span>
    </h3>

    {# Modal to show help when clicked #}
    <div id="help" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" style="margin-top: 10vh;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Help</h4>
          </div>
          {# Help content #}
          <div class="modal-body" style="font-size: 16px;">
            <p>
              This tab allows to display dynamic pahsor diagrams based on the electrical data of the buildings of the Uliège.
            </p>
            <p>
              The <b>Options</b> panel allows to select a (group of) building as well as the time interval from which the phasor will be drawn.
            </p>
            <br>
            <p>
              The <b>Indicators</b> panel shows the values of the data used to make the displayed phasor diagram.
              <ul>
                <li><b>U<sub>12</sub></b>, <b>U<sub>23</sub></b> and <b>U<sub>31</sub></b> are the <b>phase-to-phase voltages</b>, expressed in <b>kilo volts</b></li>
                <li><b>I<sub>1</sub></b>, <b>I<sub>2</sub></b>, and <b>I<sub>3</sub></b> are the <b>phase currents</b>, expressed in <b>amperes</b></li>
                <li><b>P</b> is the <b>active power</b>, expressed in <b>kilo watts</b></li>
                <li><b>Q</b> is the <b>reactive power</b>, expressed in <b>kilo volt-ampere reactive</b></li>
                <li><b>θ</b> is the <b>phase shift</b>, expressed in <b>radians</b></li>
              </ul>
              On the diagram, one can also see <b>V<sub>1</sub></b>, <b>V<sub>2</sub></b>, and <b>V<sub>3</sub></b> which are the <b>phase-to-neutral voltages</b>.
            </p>
            <br>
            <p>
              Underneath the pashor are tools to control the dynamic diagram.
              <ul>
                <li>The <b>slider</b>allows to easily control the time for which the phasor is shown</li>
                <li>The <span class="glyphicon glyphicon-play"></span> button allows to animate the diagram. The time will change automatically</li>
                <li>The <span class="glyphicon glyphicon-step-backward"> button allows to reset the time at the beginning</span></li>
                <li>The <span class="glyphicon glyphicon-plus"></span> and <span class="glyphicon glyphicon-minus"></span> buttons allow to speed up or slow down the frequency at which the phasor changes time</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {# Phasor options panel#}
      <div class="col-lg-3 panel-group">
        <div class="panel panel-default panel-options">
          <div class="panel-heading panel-heading-custom text-center" data-toggle="collapse" href=#plotOptions>
            <b class="panel-title">Options  <span class="glyphicon glyphicon-triangle-bottom"></span></b>
          </div>
          <div id="plotOptions" class="panel-collapse collapse">
            {# Form to select the options #}
            <div class="panel-body">

              {# Building selection #}
              <div class="form-group">
                <label for="phasor_building" class="inline-label">Building:</label>
                <select class="form-control custom-select" id="phasor_building" onchange="phasor_sidebar_handler()";>
                  {% for building in buildings %}
                    {# Can only create phasor for buildings that consume energy #}
                    {% if building.type == "consumption" %}
                      <option value="{{ building.name }}">{{ building.display_name }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

              {# Date from selection #}
              <div class="form-group">
                <label for="phasor_from_date" class="inline-label">From:</label>
                <input class="form-control dateFrom" type="text" id="phasor_from_date">
                <input class="form-control time" type="text" id="phasor_from_time">
              </div>

              {# Date to selection #}
              <div class="form-group">
                <label for="phasor_to_date" class="inline-label">To:</label>
                <input class="form-control dateTo" type="text" id="phasor_to_date">
                <input class="form-control time" type="text" id="phasor_to_time">
              </div>

              {# Validation button #}
              <button class="btn btn-custom btn-block" onclick="phasor_sidebar_handler();">Set dates</button>
            </div>
            {# Footer to warn user when trying to access protected data #}
            <div id="limited" class="panel-footer"></div>
          </div>
        </div>

        {# Panel used to display the indicators #}
        <div class="panel panel-default panel-options">
          <div class="panel-heading panel-heading-custom text-center" data-toggle="collapse" href=#indicators>
            <b class="panel-title">Indicators <span class="glyphicon glyphicon-triangle-bottom"></span></b>
          </div>
          <div id="indicators" class="panel-collapse collapse">
            <div class="panel-body">
              {# Phase to phase voltage #}
              <p style="display: flex;">
                <b class="inline-label">U<sub>12</sub> (kV):</b><span id="phasor_u12" style="font-size: 15px;">\</span>
              </p>
              <p style="display: flex;">
                <b class="inline-label">U<sub>23</sub> (kV):</b><span id="phasor_u23" style="font-size: 15px;">\</span>
              </p>
              <p style="display: flex;">
                <b class="inline-label">U<sub>31</sub> (kV):</b><span id="phasor_u31" style="font-size: 15px;">\</span>
              </p>
              {# Phase current #}
              <p style="display: flex;">
                <b class="inline-label">I<sub>1</sub> (A):</b><span id="phasor_I1" style="font-size: 15px;">\</span>
              </p>
              <p style="display: flex;">
                <b class="inline-label">I<sub>2</sub> (A):</b><span id="phasor_I2" style="font-size: 15px;">\</span>
              </p>
              <p style="display: flex;">
                <b class="inline-label">I<sub>3</sub> (A):</b><span id="phasor_I3" style="font-size: 15px;">\</span>
              </p>
              {# Active power #}
              <p style="display: flex;">
                <b class="inline-label">P (kW):</b><span id="phasor_P" style="font-size: 15px;">\</span>
              </p>
              {# Reactive power #}
              <p style="display: flex;">
                <b class="inline-label">Q (kvar):</b><span id="phasor_Q" style="font-size: 15px;">\</span>
              </p>
              {# Cos phi #}
              <p style="display: flex;">
                <b class="inline-label">θ (rad):</b><span id="phasor_theta" style="font-size: 15px;">\</span>
              </p>
            </div>
          </div>
        </div>
      </div>

      {# Phasor #}
      <div class="col-lg-6">
        {# Div to show error message if connection to API lost #}
        <div id="phasor_error"></div>
        <div class="panel panel-default" style="max-width: 80vh; margin: auto;">
          {# Current date of the phasor state #}
          <div class="panel-heading text-center panel-heading-custom" style="cursor: default;">
            <label style="font-size:16px;" for="phasor_canvas" id="phasor_date"></label>
          </div>
          <div class="panel-body">
            {# Canvas in which the phasor will be drawn #}
            <canvas id="phasor_canvas" width="1250px" style="width:100%;"></canvas>
          </div>
          {# Slider and other phasor state options #}
          <div class="panel-footer">
            <label for="phasor_slider">Slide to change time</label>
            <input class="form-control-range" type="range" min="0" max="100" value="0" id="phasor_slider" oninput="PHASOR_DIAGRAM.setState(parseInt(this.value));">
            <div class="text-center">
              <br>
             <button type="button" id="playpause" class="btn btn-custom glyphicon glyphicon-play" title="Play/Pause" onclick="PHASOR_PLAYER.toggle(); document.getElementById('playpause').classList.toggle('glyphicon-play'); document.getElementById('playpause').classList.toggle('glyphicon-pause')"></button>
             <button type="button" class="btn btn-custom glyphicon glyphicon-step-backward" title="Reset" onclick="PHASOR_PLAYER.reset();document.getElementById('playpause').classList.add('glyphicon-play');document.getElementById('playpause').classList.remove('glyphicon-pause');"></button>
            <button type="button" class="btn btn-custom glyphicon glyphicon-minus" title="Slower" onclick="PHASOR_PLAYER.decelerate();"></button>
            <button type="button" class=" btn btn-custom glyphicon glyphicon-plus" title="Faster" onclick="PHASOR_PLAYER.accelerate();"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>

  <script>
    //Display calendar for date
    $(".dateFrom").datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: moment().subtract(1, 'days')
    });
    $(".dateTo").datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: moment()
    });

    //Display timer for time
    $(".time").datetimepicker({
      defaultDate: moment(),
      format: 'HH:mm'
    });

    //Set info for the pashor
    var canvas = document.getElementById("phasor_canvas");
    var heightRatio = 0.8;
    canvas.height = canvas.width * heightRatio;
    PHASOR_DIAGRAM.setCanvas(document.getElementById("phasor_canvas"));

    //Show "default" phasor
    phasor_sidebar_handler();
  </script>
{% endblock %}