{% extends "base.html"%}


{# Additional scripts and styles #}
{% block head %}
  {# Additional stylesheets #}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/plots.css" type="text/css">

  {# Additional scripts #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript" src="static/js/bundle.js"></script>
  <script type="text/javascript" src="static/js/data.js"></script>
  <script type="text/javascript" src="static/js/plots.js"></script>
  <script>
    // Get datatypes used to dynamically change the selectors
    const DATATYPES = ({{ dataTypes|tojson }});

    // Get buildings info to display info on plot
    const MINIMUMS = ({{ minimums|tojson }});
  </script>
{% endblock %}


{# Content of the tab #}
{% block content %}
  <div class="container-fluid">
    {# Title at the top of the page #}
    <h3 class="container page-header">
      <span class="pull-left">Plots of the electrical data of the campus buildings</span>
      <span class="glyphicon glyphicon-question-sign pull-right tootltip" title="Show help" data-toggle="modal" data-target="#help"></span>
    </h3>

    {# Modal to show help when clicked #}
    <div id="help" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg" style="margin-top: 10vh;">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Help</h4>
          </div>
          {# Help content #}
          <div class="modal-body" style="font-size: 16px;">
            <p>
              This tab allows to show live some electrical data of some Buildings of the ULiège, or to select the dates to show or compare these data.
            </p>
            <p>
              The <b>Options</b> panel allows to select the building, the datatype, as well as the modes.
              <ul>
                <li>When the <b>live mode</b> is enabled, the diagram is updated every minute, and you can choose the time interval from which the data will be shown, up until now. When the mode is disabled, you can choose for a precise time interval, without restriction on the last date.
                </li>
                <li>
                  When the <b>comparison mode</b> is enabled, you can specify a "compare" date which is the beginning date of the interval you want to compare the selected data with (it's duration will be the same as for the main data).
                </li>
              </ul>
            </p>
            <p>
              The <b>Indicators</b> panel displays furhter details, such as the mean, the maximum and the minimum values on the diagram. When the selected datatype is an (active) power, the <b>energy</b> produced or consumed is shown.
            </p>
            <br>
            <p>
              Sometimes, <b>values can be missing</b> due to a malfunctionning sensor. These values are set to a default value (the lowest allowed) and are <b>shown in red</b> on the plots.
            </p>
            <p>
              On the top right of the diagram is a toolbar which, among other things, allows to download an image of it, or to reshape the plot.
            </p>
            <p>
              Note that for an unregistered user, the accessible data is limited to the last 30 days.
            </p>
          </div>
        </div>
      </div>
    </div>
    {# Div to show error message if connection to API lost #}
    <div id="error" class="container"></div>
    <div class="row">
      {# Plot options panel #}
      <div class="col-lg-3 panel-group">
        <div class="panel panel-default panel-options">
          <div class="panel-heading panel-heading-custom text-center" data-toggle="collapse" href=#plotOptions>
            <b class="panel-title">Options <span class="glyphicon glyphicon-triangle-bottom"></span></b>
          </div>
          <div id="plotOptions" class="panel-collapse collapse">
            {# Form to select the options #}
            <div class="panel-body">

              {# Building selection #}
              <div class="form-group">
                <label for="data_building" class="inline-label">Building:</label>
                <select class="form-control custom-select" id="data_building" onchange="clickBuilding(); data_sidebar_handler();">
                    {% for building in buildings %}
                      <option value="{{ building.name }}">{{ building.display_name }}</option>
                    {% endfor %}
                </select>
              </div>

              {# Datatype selection #}
              <div class="form-group">
                <label for="data_datatype" class="inline-label">Datatype:</label>
                <select class="form-control custom-select" id="data_datatype" onchange="data_sidebar_handler();">
                  {# Options dynamcally written with respect to the building selected #}
                </select>
              </div>
              <script>clickBuilding();</script>

              {# Live/manual mode selection #}
              <div class="form-group">
                <label for="checkbox_live" class="inline-label-check">Live mode:</label>
                <label class="switch">
                  <input type="checkbox" id="checkbox_live" name="live_manual" onclick="clickCheckboxLive(); data_sidebar_handler();" checked>
                  <span class="slider round"></span>
                </label>
              </div>

              {# Comparison mode selection #}
              <div class="form-group">
                <label for="checkbox_compare" class="inline-label-check">Comparison mode:</label>
                <label class="switch">
                  <input type="checkbox" id="checkbox_compare" name="compare" onclick="clickCheckboxCompare(); data_sidebar_handler();">
                  <span class="slider round"></span>
                </label>
              </div>

              {# Manual menu #}
              <div id="manual_mode" style="clear: both; display:none">
                <div class="form-group">
                  <label for="data_from_date" class="inline-label">From:</label>
                  <input type="text" id="data_from_date" class="form-control dateFrom" placeholder="Date">
                  <input type="text" id="data_from_time" class="form-control time" placeholder="Time">
                </div>
                <div class="form-group">
                  <label for="data_to_date" class="inline-label">To:</label>
                  <input type="text" id="data_to_date" class="form-control dateTo" placeholder="Date">
                  <input type="text" id="data_to_time" class="form-control time" placeholder="Time">
                </div>
              </div>

              {# Live menu #}
              <div id="live_mode">
                <div class="form-group">
                  <label for="live_mode" class="inline-label">Show last:</label>
                  <input type="number" class="form-control" id="live_shift_number" min="1" value=1 oninput="data_sidebar_handler();">
                  <select class="form-control custom-select small-select" id="live_unit_list" onchange="data_sidebar_handler();">
                    <option value="minute">minute(s)</option>
                    <option value="hour">hour(s)</option>
                    <option value="day" selected>day(s)</option>
                    <option value="month">month(s)</option>
                    <option value="year">year(s)</option>
                  </select>
                </div>
              </div>

              {# Comparison menu #}
              <div id=compare_menu style="display:none;">
                <hr>
                <div class="form-group">
                  <label for="compare_menu" class="inline-label">Compare with:</label>
                  <input type="text" id="compare_from_date" class="form-control dateCompare" placeholder="Date">
                  <input type="text" id="compare_from_time" class="form-control time" placeholder="Time">
                </div>
              </div>

              {# Validation button when using dates since onchange does not work with datetimepicker #}
              <button id="dateButton" class="btn btn-custom btn-block" onclick="data_sidebar_handler();" style="display: none;">Set dates</button>
            </div>
            {# Footer to warn user when trying to access protected data #}
            <div id="limited" class="panel-footer"></div>
          </div>
        </div>

        {# Panel used to display the indicators #}
        <div class="panel panel-default panel-options">
          <div class="panel-heading panel-heading-custom text-center" data-toggle="collapse" href=#indicators>
            <b class="panel-title">Indicators <span class="glyphicon glyphicon-triangle-bottom"></span></b>
          </div>
          <div id="indicators" class="panel-collapse collapse">
            <div class="panel-body">
              {# Energy can only be computed with powers #}
              <p id="energy" style="display: none;">
                <b class="inline-label">Total energy (kWh): </b>
                <span id="energyVal" style="font-size: 15px;"></span>
              </p>
              <p style="display: flex;">
                <b class="inline-label">Mean <span id="mean"></span></b>
                <span id="meanVal" style="font-size: 15px;"></span>
              </p>
              <p style="display: flex;">
                <b class="inline-label">Max <span id="max"></span></b>
                <span id="maxVal" style="font-size: 15px;"></span>
              </p>
              <p style="display: flex;">
                <b class="inline-label">Min <span id="min"></span></b>
                <span id="minVal" style="font-size: 15px;"></span>
              </p>
            </div>
          </div>
        </div>
      </div>

      {# Container used to plot the data #}
      <div id="plot" class="col-lg-8"></div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  <script>
    //Display calendar for date
    $(".dateFrom").datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: moment().subtract(1, 'days')
    });
    $(".dateTo").datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: moment()
    });
    $(".dateCompare").datetimepicker({
      format: 'DD/MM/YYYY',
      defaultDate: moment().subtract(2, 'days')
    });

    //Display timer for time
    $(".time").datetimepicker({
      defaultDate: moment(),
      format: 'HH:mm'
    });

    //Create "default" diagram
    data_sidebar_handler();
  </script>
{% endblock %}